{:paths ["src" "resources"]
 :deps
 {org.clojure/clojure              {:mvn/version "1.10.0"}
  manifold                         {:mvn/version "0.1.6"}
  harmony                          {:git/url "git@github.com:codonnell/harmony.git"
                                    :sha     "fdec8a4ac9df2b86161517cd37123a20d2532e1f"}
  integrant                        {:mvn/version "0.7.0-alpha2"}
  com.walmartlabs/dyn-edn          {:mvn/version "0.2.0"}
  clojure.java-time                {:mvn/version "0.3.1"}
  org.postgresql/postgresql        {:mvn/version "42.2.2"}
  com.layerware/hugsql             {:mvn/version "0.4.8"}
  com.mchange/c3p0                 {:mvn/version "0.9.5.2"}
  ragtime                          {:mvn/version "0.7.2"}
  cheshire                         {:mvn/version "5.8.0"}
  camel-snake-kebab                {:mvn/version "0.4.0"}
  org.clojure/tools.logging        {:mvn/version "0.4.0"}
  ch.qos.logback/logback-classic   {:mvn/version "1.2.3"}
  io.pedestal/pedestal.interceptor {:mvn/version "0.5.3"}
  net.cgrand/xforms                {:mvn/version "0.18.2"}}

 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps
   {integrant/repl         {:mvn/version "0.3.0"}
    cider/cider-nrepl      {:mvn/version "0.21.1"}
    refactor-nrepl         {:mvn/version "2.4.0"}
    org.clojure/test.check {:mvn/version "0.9.0"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps
   {com.cognitect/test-runner
    {:git/url "git@github.com:cognitect-labs/test-runner"
     :sha     "5fb4fc46ad0bf2e0ce45eba5b9117a2e89166479"}
    org.clojure/test.check {:mvn/version "0.9.0"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :outdated
  {:extra-deps {olical/depot {:mvn/version "1.1.0"}}
   :main-opts  ["-m" "depot.outdated.main"]}

  :pack
  {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                 :sha     "1d455f6c591f440560c57a29e6d930004d735dcf"}}
   :main-opts  ["-m"]}}}
