{:postgres/connection
 {:dbtype "postgresql"
  :dbname #dyn/prop DB_NAME
  :host #dyn/prop DB_HOST
  :port #dyn/prop DB_PORT
  :user #dyn/prop DB_USER
  :password #dyn/prop DB_PASS}

 :event-bus
 {}

 :discord/bot
 {:token #dyn/prop FLOWBOT_TOKEN
  :name #dyn/prop [FLOWBOT_NAME "flowbot"]
  :prefix #dyn/prop [FLOWBOT_PREFIX "!"]
  :owner-id #dyn/prop FLOWBOT_OWNER_ID
  :event-bus #ig/ref :event-bus}

 :discord/registrar
 {:bot #ig/ref :discord/bot}

 :command/handler
 {:event-bus #ig/ref :event-bus
  :bot #ig/ref :discord/bot
  :_conn #ig/ref :postgres/connection
  :_registrar #ig/ref :discord/registrar}

 :plugin/manager
 {:_reg #ig/ref :discord/registrar}

 :command/custom
 {:event-bus #ig/ref :event-bus
  :conn #ig/ref :postgres/connection
  :_handler #ig/ref :command/handler
  :_registrar #ig/ref :discord/registrar
  :_bot #ig/ref :discord/bot}}
